* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.App {
    background-color: #f1f0f0;
    max-width: 1650px;
    margin: 0 auto;
    @media screen and (max-width: 855px) {
        max-width: 100%;
        margin: 0;
    }
}
input, textarea {
    padding: 8px;
    margin: 0 6px;
    resize: none;
}
label {
    padding: 8px;
}
h1 {
    font-size: 24px;
    padding-bottom: 20px;
}
h2 {
    font-size: 22px;
    padding: 40px 0 20px 0;
}
p  {
    padding: 10px 4px;
    line-height: 24px;
}
input[type=checkbox] {
    background-color: black;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-right: 10px;
}

// Public Styles ---------------------------------------

.sideLabelledInput {
    display: flex;
    width: 100%;
}
.contentContainer {
    border-top: 4px solid #fbd46d;
}
.contentContainer h1 {
    padding-top: 20px;
}
textarea {
    height: 100%;
}
.labelledInput {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.flexLabels {
    display: flex;
    width: 100%;
    @media screen and (max-width: 855px) {
        flex-direction: column;
    }
}
.years, .months {
    margin: 0 10px 0 0;
}
.employmentDetailsBox {
    display: grid;
    grid-template-rows: 7;
    grid-template-columns: 200px 1fr;
    padding: 20px;
    @media screen and (max-width: 855px) {
        grid-template-columns: none;
        padding: 0;
    }
}
.employmentDetailsBox input, .employmentDetailsBox label {
    margin: 10px 0;
    align-self: center;
}
.employmentDetailsBox .postcode {
    width: 15%;
    @media screen and (max-width: 1000px) {
        width: auto;
    }
}

// Header ---------------------------------------

#pageHeader {
    background-color: white;
}
#pageHeader .headerContainer {
    padding: 50px 50px 0px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 855px) {
        flex-direction: column;
    }
}
#pageHeader .logo img {
    height: 170px;
}
#pageHeader h1 {
    font-size: 28px;
    @media screen and (max-width: 855px) {
        padding-top: 50px;
    }
}
#sectionOne, #sectionTwo, #sectionThree, #sectionFour, #sectionFive, #sectionSix,
#sectionSeven, #sectionEight {
    padding: 50px;
    @media screen and (max-width: 855px) {
        padding: 20px;
    }
}

// Section One ---------------------------------------

#sectionOne {
    background-color: white;
    @media screen and (max-width: 855px) {
        display: grid;
    }
}
#sectionOne .rowOne {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 10% 20% 20% 1fr;
    @media screen and (max-width: 855px) {
        grid-template-columns: none;
    }
}
#sectionOne .rowTwo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media screen and (max-width: 855px) {
        grid-template-columns: none;
    }
}
#sectionOne .rowThree {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media screen and (max-width: 855px) {
        grid-template-columns: none;
    }
}
#sectionOne .postCodeA, #sectionOne .postCodeB, #sectionOne .postCodeC {
    width: 18%;
}
#sectionOne .rowFour {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media screen and (max-width: 855px) {
        grid-template-columns: none;
    }
}
#sectionOne .rowFive {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    @media screen and (max-width: 855px) {
        grid-template-columns: none;
    }
}

// Section Two ---------------------------------------

#sectionTwo {
    background-color: white;
}
.previousAddressA, .previousAddressB, .previousAddressC {
    height: 40px;
}
#sectionTwo .addressRow {
    background-color: #f5f5f5;
    border-bottom: 1px solid #adadad;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    @media screen and (max-width: 855px) {
        grid-template-columns: none;
    }
}
.yearsA, .monthsA, .yearsB, .monthsB, .yearsC, .monthsC  {
    width: 40%;
}
#sectionTwo .postCodeA, #sectionTwo .postCodeB, #sectionTwo .postCodeC {
    width: 20%;
}
#sectionTwo .addressRow .flexLabels .sideLabelledInput {
    align-self: center;
}

// Section Three ---------------------------------------

#sectionThree {
    background-color: white;
}
#sectionThree .row {
    display: grid;
    padding: 20px 0;
}
#sectionThree .row .upper {
    background-color: #f0f0f0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media screen and (max-width: 855px) {
        grid-template-columns: none;
    }
}
#sectionThree .checkBoxes {
    grid-column: 2/3;
    display: flex;
    align-content: center;

    @media screen and (max-width: 855px) {
        flex-direction: column;
    }
}
#sectionThree .checkBoxes label {
    display: flex;
    align-items: center;
}
#sectionThree .row .lower {
    background-color: #e0e0e0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    display: flex;
    @media screen and (max-width: 855px) {
        grid-template-columns: none;
    }
}
#sectionThree .row .lower .description {
    margin: 10px;
    width: 60%;
}
#sectionThree #bankAccount .row {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}
#sectionThree #bankAccount .row .upper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    @media screen and (max-width: 855px) {
        grid-template-columns: none;
    }
}
#sectionThree #bankAccount .row .middle {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    @media screen and (max-width: 855px) {
        grid-template-columns: none;
    }
}
#sectionThree #bankAccount .row .lower {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    @media screen and (max-width: 855px) {
        grid-template-columns: none;
    }
}
#sectionThree #bankAccount .row .lower p {
    padding-left: 20px;
}

// Section Four ---------------------------------------

#sectionFour {
    background-color: white;
}
#sectionFour .checkBoxContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    @media screen and (max-width: 855px) {
        grid-template-columns: none;
    }
}
#sectionFour .checkBoxContainer .description {
    display: flex;
    align-items: center;
}
#sectionFour .checkBoxContainer .row {
    display: flex;
    flex-direction: column;
}

// Section Five ---------------------------------------

#sectionFive {
    background-color: white;
}
#sectionFive .occupantsContainer {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    @media screen and (max-width: 855px) {
        grid-template-columns: none;
    }
}

// Section Six ---------------------------------------

#sectionSix {
    background-color: white;
}

// Section Seven ---------------------------------------

#sectionSeven {
    background-color: white;
}

// Section Eight ---------------------------------------

#sectionEight {
    background-color: white;
}
#sectionEight .flexLabels {
    justify-content: space-around;
}
#sectionEight .additionalComments {
    display: flex;
    align-items: center;
}
#sectionEight .additionalComments {
    height: 400px;
    margin-top: 20px;
}

// Notice ---------------------------------------

#notice {
    padding: 0 50px;
    background-color: white;
}
.buttonContainer {
    width: 100%;
    @media screen and (max-width: 855px) {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.submitFormButton {
    margin: 50px 0;
    padding: 10px 100px;
    @media screen and (max-width: 855px) {
        width: 100%;
    }
}