// Global Styles ---------------------------------------

* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}
.App {
    background-color: #f1f0f0;
    max-width: 1650px;
    margin: 0 auto;
    @media screen and (max-width: 855px) {
        max-width: 100%;
        margin: 0;
    }
}
p, input, textarea, label {
    box-shadow: none;
    font-size: 16px;
    padding: 10px 4px;
    line-height: 24px;
}
label {
    padding: 8px;
}
h1 {
    font-size: 24px;
    padding-bottom: 20px;
}
h2 {
    font-size: 22px;
    padding: 40px 0 20px 0;
}
input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-right: 10px;
}
.contentContainer {
    border-top: 4px solid #fbd46d;
}
.contentContainer h1 {
    padding-top: 20px;
}
textarea {
    height: 100%;
}
.labelledInput {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.flexLabels {
    width: 100%;
    display: flex;
    @media screen and (max-width: 855px) {
        flex-direction: column;
    }
}
.years,
.months {
    margin: 0 10px 0 0;
}
.employmentDetailsBox {
    display: grid;
    grid-template-rows: 7;
    grid-template-columns: 200px 1fr;
    padding: 20px;
    @media screen and (max-width: 855px) {
        grid-template-columns: none;
        padding: 0;
    }
}
.employmentDetailsBox input,
.employmentDetailsBox label {
    margin: 10px 0;
    align-self: center;
}
.employmentDetailsBox .postcode {
    width: 15%;
    @media screen and (max-width: 1000px) {
        width: auto;
    }
}

// Mobile Responsive ---------------------------------------

@media screen and (max-width: 855px) {

    // Global Styles

    input,
    textarea {
    resize: none;
    border: 1px solid rgba(0, 0, 0, 0.315) !important;
    border-radius: 4px;
    padding: 8px;
    }

    // Header -------

    #pageHeader {
        background-color: white;
    }
    #pageHeader .headerContainer {
        padding: 50px 50px 0px 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }
    #pageHeader .logo img {
        height: 140px;
    }
    #pageHeader h1 {
        font-size: 28px;
        padding-top: 50px;
    }

    #sectionOne,
    #sectionTwo,
    #sectionThree,
    #sectionFour,
    #sectionFive,
    #sectionSix,
    #sectionSeven,
    #sectionEight,
    #notice {
        background-color: white;
        padding: 20px;
    }
    .sideLabelRight, .sideLabelLeft {
        display: flex;
        width: 100%;
    }
    .sideLabelRight {
        flex-direction: column-reverse;
    }
    .sideLabelLeft {
        flex-direction: column;
    }

    // Section One -------

    #sectionOne {
        display: grid;
    }
    #sectionOne .rowOne {
        grid-template-columns: none;
    }
    #sectionOne .rowTwo {
        display: grid;
    }
    #sectionOne .rowThree {
        display: grid;
    }
    #sectionOne .postCodeA,
    #sectionOne .postCodeB,
    #sectionOne .postCodeC {
        width: 18%;
    }
    #sectionOne .rowFour {
        display: grid;
    }
    #sectionOne .rowFive {
        display: grid;
    }

    // Section Two -------

    #sectionTwo .addressRow {
        background-color: #f5f5f5;
        border-bottom: 1px solid #adadad;
        padding: 20px;
        display: grid;
        grid-template-rows: 1fr 1fr;
    }
    .yearsA,
    .monthsA,
    .yearsB,
    .monthsB,
    .yearsC,
    .monthsC {
        width: 100px;
        margin-left: 0;
    }
    #sectionTwo .postCodeA,
    #sectionTwo .postCodeB,
    #sectionTwo .postCodeC {
        width: 40%;
    }
    #sectionTwo .addressRow .flexLabels .sideLabelledInput {
        align-self: center;
    }

    // Section Three -------

    #sectionThree .row {
        display: grid;
        padding: 20px 0;
    }
    #sectionThree .row .upper {
        background-color: #f0f0f0;
    }
    #sectionThree .checkBoxes {
        grid-column: 2/3;
        display: flex;
        align-content: center;
    }
    #sectionThree .checkBoxes label {
        display: flex;
        align-items: center;
    }
    #sectionThree .row .lower {
        background-color: #e0e0e0;
        display: grid;
    }
    #sectionThree .row .lower .description {
        margin: 10px;
    }
    #sectionThree #bankAccount .row {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
    }
    #sectionThree #bankAccount .accountName,  #sectionThree #bankAccount .bankName {
        display: inline-flex;
        justify-content: space-around;
    }
    #sectionThree #bankAccount .row .upper {
        display: grid;
        align-items: center;
    }
    #sectionThree #bankAccount .row .middle {
        display: grid;
        align-items: center;
    }
    #sectionThree #bankAccount .row .lower {
        display: grid;
        align-items: center;
    }
    #sectionThree #bankAccount .row .lower p {
        padding-left: 20px;
    }

    // Section Four -------

    #sectionFour .checkBoxContainer {
        display: grid;
    }
    #sectionFour .checkBoxContainer .description {
        display: flex;
        align-items: center;
    }
    #sectionFour .checkBoxContainer .row {
        display: flex;
        flex-direction: column;
    }

    // Section Five -------

    #sectionFive .occupantsContainer {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
    }

    // Section Six -------

    // Section Seven -------

    // Section Eight -------

    #sectionEight .flexLabels {
        justify-content: space-around;
    }
    #sectionEight .additionalComments {
        display: flex;
        align-items: center;
    }
    #sectionEight .additionalComments {
        height: 400px;
        margin-top: 20px;
    }

    // Notice -------

    .buttonContainer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .submitFormButton {
        margin: 50px 0;
        padding: 10px 100px;
        width: 100%;
    }
}

// Desktop Responsive ---------------------------------------

@media screen and (min-width: 856px) {

    // Global Styles

    input,
    textarea {
    padding: 8px;
    margin: 0 6px;
    resize: none;
    border: 1px solid rgba(0, 0, 0, 0.315) !important;
    border-radius: 4px;
    }

    .sideLabelRight, .sideLabelLeft {
        display: flex;
        width: 100%;
        padding: 10px;
    }

    // Header

    #pageHeader {
        background-color: white;
    }
    #pageHeader .headerContainer {
        padding: 50px 50px 0px 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    #pageHeader .logo img {
        height: 140px;
    }
    #pageHeader h1 {
        font-size: 28px;
    }
    #sectionOne,
    #sectionTwo,
    #sectionThree,
    #sectionFour,
    #sectionFive,
    #sectionSix,
    #sectionSeven,
    #sectionEight,
    #notice {
        background-color: white;
        padding: 50px;
    }

    // Section One -------

    #sectionOne .rowOne {
        padding-top: 20px;
        display: grid;
        grid-template-columns: 10% 20% 20% 1fr;
    }
    #sectionOne .rowTwo {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #sectionOne .rowThree {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #sectionOne .postCodeA,
    #sectionOne .postCodeB,
    #sectionOne .postCodeC {
        width: 18%;
    }
    #sectionOne .rowFour {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #sectionOne .rowFive {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    // Section Two -------

    .previousAddressA,
    .previousAddressB,
    .previousAddressC {
        height: 40px;
    }
    #sectionTwo .addressRow {
        background-color: #f5f5f5;
        border-bottom: 1px solid #adadad;
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .yearsA,
    .monthsA,
    .yearsB,
    .monthsB,
    .yearsC,
    .monthsC {
        width: 40%;
        height: 24px;
    }
    #sectionTwo .postCodeA,
    #sectionTwo .postCodeB,
    #sectionTwo .postCodeC {
        width: 20%;
    }
    #sectionTwo .addressRow .flexLabels .sideLabelledInput {
        align-self: center;
    }

    // Section Three -------

    #sectionThree .row {
        display: grid;
        padding: 20px 0;
    }
    #sectionThree .row .upper {
        background-color: #f0f0f0;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #sectionThree .checkBoxes {
        grid-column: 2/3;
        display: flex;
        align-content: center;
    }
    #sectionThree .checkBoxes label {
        display: flex;
        align-items: center;
    }
    #sectionThree .row .lower {
        background-color: #e0e0e0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        display: flex;
    }
    #sectionThree .row .lower .description {
        margin: 10px;
        width: 60%;
    }
    #sectionThree #bankAccount .row {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
    }
    #sectionThree #bankAccount .row .upper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
    #sectionThree #bankAccount .row .middle {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
    #sectionThree #bankAccount .row .lower {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
    }
    #sectionThree #bankAccount .row .lower p {
        padding-left: 20px;
    }

    // Section Four -------

    #sectionFour .checkBoxContainer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    #sectionFour .checkBoxContainer .description {
        display: flex;
        align-items: center;
    }
    #sectionFour .checkBoxContainer .row {
        display: flex;
        flex-direction: column;
    }

    // Section Five -------

    #sectionFive .occupantsContainer {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    // Section Six -------

    // Section Seven -------

    // Section Eight -------

    #sectionEight .flexLabels {
        justify-content: space-around;
    }
    #sectionEight .additionalComments {
        display: flex;
        align-items: center;
    }
    #sectionEight .additionalComments {
        height: 400px;
        margin-top: 20px;
    }

    // Notice -------

    .buttonContainer {
        width: 100%;
    }
    .submitFormButton {
        margin: 50px 0;
        padding: 10px 100px;
    }
}
