@media screen and (min-width: 856px) {
    // Global Styles ------------------------------------------------------------- //

    input,
    textarea {
        padding: 8px;
        margin: 0 6px 4px 6px;
        resize: none;
        border: 1px solid rgba(0, 0, 0, 0.315) !important;
        border-radius: 4px;
    }
    .sideLabelRight,
    .sideLabelLeft {
        display: flex;
        margin: 10px;
    }
    .employmentDetailsBox input {
        grid-column: 2/3;
    }
    .employmentDetailsBox input,
    .employmentDetailsBox label {
        margin: 10px 0;
        align-self: center;
    }
    .contentContainer {
        border-top: 4px solid #fbd46d;
    }
    .contentContainer h1 {
        padding-top: 20px;
    }
    textarea {
        height: 100%;
    }
    .labelledInput {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .flexLabels {
        display: flex;
    }
    .employmentDetailsBox {
        display: grid;
        grid-template-rows: 7;
        grid-template-columns: 200px 1fr;
        padding: 20px;
    }
    .employmentDetailsBox .postcode {
        width: 25%;
    }

    // Header ------------------------------------------------------------- //

    #pageHeader {
        background-color: white;
        max-width: 1650px;
        margin: 0 auto;
        @media screen and (max-width: 855px) {
            max-width: 100%;
            margin: 0;
        }
    }
    #pageHeader .headerContainer {
        padding: 50px 50px 0px 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    #pageHeader .logo img {
        height: 140px;
    }
    #pageHeader h1 {
        font-size: 28px;
    }
    #sectionOne,
    #sectionTwo,
    #sectionThree,
    #sectionFour,
    #sectionFive,
    #sectionSix,
    #sectionSeven,
    #sectionEight,
    #bankAccount,
    #notice {
        background-color: white;
        max-width: 1650px;
        margin: 0 auto;
        @media screen and (max-width: 855px) {
            max-width: 100%;
            margin: 0;
        }
        padding: 50px;
    }
    #notice {
        padding: 50px 0 0 0;
    }

    // Section One ------------------------------------------------------------- //

    #sectionOne .contentColumn {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #sectionOne .rowOne {
        padding-top: 20px;
        display: grid;
        grid-template-columns: 10% 20% 20% 1fr;
    }
    
    #sectionOne .col-1 .rowTwo, #sectionOne .col-1 .rowThree {
        display: grid;
        grid-template-columns: 1fr;
    }
    #sectionOne .col-2 .rowOne {
        padding-top: 20px;
        display: grid;
        grid-template-columns: 1fr;
    }
    .col-1, .col-2 {
        display: grid;
        grid-template-rows: 1fr 1fr;
    }
    #sectionOne .col-2 .rowThree {
        display: grid;
        grid-template-columns: 1fr;
    }
    #sectionOne .postCodeA,
    #sectionOne .postCodeB,
    #sectionOne .postCodeC {
        width: 18%;
    }
    #sectionOne .rowFour p {
        grid-row: 1/2;
    }
    #sectionOne .rowFour .flexLabels {
        grid-row: 2/3;
    }
    #sectionOne .rowFive {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    // Section Two ------------------------------------------------------------- //

    .previousAddressA,
    .previousAddressB,
    .previousAddressC {
        height: 40px;
    }
    #sectionTwo .addressRow {
        background-color: #f5f5f5;
        border-bottom: 1px solid #adadad;
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .yearsA,
    .monthsA,
    .yearsB,
    .monthsB,
    .yearsC,
    .monthsC {
        width: 40%;
        height: 24px;
    }
    #sectionTwo .postCodeA,
    #sectionTwo .postCodeB,
    #sectionTwo .postCodeC {
        width: 20%;
    }
    #sectionTwo .addressRow .flexLabels {
        align-self: end;
        padding-bottom: 16px;
    }
    #sectionTwo .addressRow .flexLabels .sideLabelledInput {
        align-self: center;
    }

    // Section Three ------------------------------------------------------------- //

    #sectionThree .row {
        display: grid;
        padding: 20px 0;
    }
    #sectionThree .row .upper {
        background-color: #f0f0f0;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #sectionThree .checkBoxes {
        grid-column: 2/3;
        display: flex;
        align-content: center;
    }
    #sectionThree .checkBoxes label {
        display: flex;
        align-items: center;
    }
    #sectionThree .row .lower {
        background-color: #e0e0e0;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #sectionThree .row .lower .description {
        margin: 10px;
        width: 60%;
    }
    #bankAccount .bankAccountContainer {
        width: 60%;
        padding: 50px;
        background-color: rgb(245, 245, 245);
    }
    #bankAccount .accountName, #bankAccount .accountNumber {
        width: 130px;
    }
    #bankAccount .bankName, #bankAccount .sortCode {
        width: 90px;
    }
    #bankAccount .row {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
    }
    #bankAccount .row .upper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
    #bankAccount .row .middle {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
    #bankAccount .bankTitle {
        padding-top: 20px;
    }
    #bankAccount .row .lower {
        display: flex;
        align-items: center;
    }
    #bankAccount .row .lower p {
        padding-left: 20px;
    }

    // Section Four ------------------------------------------------------------- //

    #sectionFour .checkBoxContainer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    #sectionFour .checkBoxContainer .description {
        display: flex;
        align-items: center;
    }
    #sectionFour .checkBoxContainer .row {
        display: flex;
        flex-direction: column;
    }

    // Section Five ------------------------------------------------------------- //

    #sectionFive .occupantsContainer {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
    #sectionEight .additionalComments {
        display: flex;
        align-items: center;
    }
    #sectionEight .additionalComments {
        height: 400px;
        margin-top: 20px;
    }

    // Section Eight ------------------------------------------------------------- //

    #sectionEight .signature, #sectionEight .fullName {
        width: 90px;
    }
    #sectionEight .date {
        width: 55px;
    }

    // Notice ------------------------------------------------------------- //

    .buttonContainer {
        padding: 0 50px;
        max-width: 1650px;
        margin: 0 auto;
    }
    .submitFormButton {
        background-color: rgb(238, 238, 238);
        margin:  0 0 50px 0;
        padding: 10px 100px;
        transition: 0.1s;
    }
    .submitFormButton:hover {
        background-color: rgb(216, 216, 216);
    }
}
