@import "./desktop.scss";
@import "./mobile.scss";

* {
    padding: 0;
    margin: 0;
    font-family: "brandon-grotesque", sans-serif;
    outline: none;
}
.App {
    background-color: white;
    width: 100%;
}
p,
input,
textarea,
label {
    box-shadow: none;
    font-size: 18px;
    line-height: 24px;
}
label {
    padding: 10px;
}
h1 {
    font-size: 24px;
    padding-bottom: 20px;
}
h2 {
    font-size: 22px;
    padding: 40px 0 20px 0;
}
p {
    padding: 10px 5px;
    font-size: 18px;
}
input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-right: 10px;
}
.toggleButtonsContainer {
    width: 100%;
    display: flex;
    position: absolute;
    justify-content: center;
    padding-bottom: 50px;
    @media screen and (max-width: 855px) {
        margin-top: 80px;
    }
}
.toggleButtonsContainer button, .successPageContainer button  {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    width: 200px;
    padding: 5px;
    margin: 10px;
}
.toggleButtonsContainer button:hover, .successPageContainer button:hover {
    border: 1px solid rgba(0, 0, 0, 1);
}

