@media screen and (max-width: 855px) {
    // Global Styles ------------------------------------------------------------- //

    input,
    textarea {
        resize: none;
        border: 1px solid rgba(0, 0, 0, 0.315) !important;
        border-radius: 4px;
        padding: 8px;
    }
    .employmentDetailsBox input {
        grid-column: 1fr;
    }
    .employmentDetailsBox input,
    .employmentDetailsBox label {
        align-self: center;
    }

    // Header ------------------------------------------------------------- //

    #pageHeader {
        background-color: white;
    }
    #pageHeader .headerContainer {
        padding: 50px 50px 0px 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }
    #pageHeader .logo img {
        height: 140px;
    }
    #pageHeader h1 {
        font-size: 28px;
        padding-top: 50px;
    }
    #sectionOne,
    #sectionTwo,
    #sectionThree,
    #sectionFour,
    #sectionFive,
    #sectionSix,
    #sectionSeven,
    #sectionEight,
    #notice {
        background-color: white;
        padding: 20px;
    }
    .sideLabelRight,
    .sideLabelLeft {
        display: flex;
        width: 100%;
    }
    .sideLabelRight {
        flex-direction: column-reverse;
    }
    .sideLabelLeft {
        flex-direction: column;
    }
    .contentContainer {
        border-top: 4px solid #fbd46d;
    }
    .contentContainer h1 {
        padding-top: 20px;
    }
    textarea {
        height: 100%;
    }
    .labelledInput {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .flexLabels {
        display: flex;
        flex-direction: column;
    }
    .employmentDetailsBox {
        display: grid;
        grid-template-rows: 7;
        grid-template-columns: none;
        padding: 0;
    }
    .employmentDetailsBox .postcode {
        width: auto;
    }

    // Section One ------------------------------------------------------------- //

    #sectionOne .contentContainer {
        display: grid;
    }
    #sectionOne .rowOne {
        grid-template-columns: none;
    }
    #sectionOne .rowTwo {
        display: grid;
    }
    #sectionOne .rowThree {
        display: grid;
    }
    #sectionOne .rowThree .flexLabels {
        padding: 20px;
        background-color: #f5f5f5;
    }
    #sectionOne p {
        font-weight: 500;
    }
    #sectionOne .postCodeA,
    #sectionOne .postCodeB,
    #sectionOne .postCodeC {
        width: 18%;
    }
    #sectionOne .rowFour {
        display: grid;
    }
    #sectionOne .rowFive {
        display: grid;
    }

    // Section Two ------------------------------------------------------------- //

    #sectionTwo .addressRow {
        background-color: #f5f5f5;
        border-bottom: 1px solid #adadad;
        padding: 20px;
        display: grid;
        grid-template-rows: 1fr 1fr;
    }
    .yearsA,
    .monthsA,
    .yearsB,
    .monthsB,
    .yearsC,
    .monthsC {
        width: 100px;
        margin-left: 0;
    }
    #sectionTwo .postCodeA,
    #sectionTwo .postCodeB,
    #sectionTwo .postCodeC {
        width: 40%;
    }
    #sectionTwo .addressRow .flexLabels .sideLabelledInput {
        align-self: center;
    }

    // Section Three ------------------------------------------------------------- //

    #sectionThree .row {
        display: grid;
        padding: 20px 0;
    }
    #sectionThree .row .upper {
        background-color: #f0f0f0;
    }
    #sectionThree .checkBoxes {
        grid-column: 2/3;
        display: flex;
        align-content: center;
    }
    #sectionThree .checkBoxes label {
        display: flex;
        align-items: center;
    }
    #sectionThree .row .lower {
        background-color: #e0e0e0;
        display: grid;
    }
    #sectionThree .row p {
        padding: 10px;
    }
    #sectionThree .row .lower .description {
        margin: 10px;
    }
    #sectionThree #bankAccount .row {
        display: grid;
        padding: 0;
    }
    #sectionThree #bankAccount .accountName,
    #sectionThree #bankAccount .bankName {
        display: inline-flex;
        justify-content: space-around;
    }
    #sectionThree #bankAccount .row .upper {
        background-color: white;
        display: grid;
        align-items: center;
    }
    #sectionThree #bankAccount .row .middle {
        display: grid;
        align-items: center;
    }
    #sectionThree #bankAccount .row .lower {
        background-color: #f5f5f5;
        display: grid;
        align-items: center;
        padding: 20px;
    }
    #sectionThree #bankAccount .row .lower p {
        font-weight: 500;
        padding: 20px 0;
    }

    // Section Four ------------------------------------------------------------- //

    #sectionFour .checkBoxContainer {
        display: grid;
    }
    #sectionFour .checkBoxContainer .description {
        display: flex;
        align-items: center;
    }
    #sectionFour .checkBoxContainer .row {
        display: flex;
        flex-direction: column;
    }

    // Section Five ------------------------------------------------------------- //

    #sectionFive .occupantsContainer {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
    }

    #sectionEight .flexLabels {
        justify-content: space-around;
    }
    #sectionEight .additionalComments {
        display: flex;
        align-items: center;
    }
    #sectionEight .additionalComments {
        height: 400px;
    }

    // Notice ------------------------------------------------------------- //

    .buttonContainer {
        background-color: white;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .submitFormButton {
        margin: 50px;
        padding: 10px 100px;
        width: 100%;
    }
}
